
.swiper {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.swiper-slide {
    font-size: 18px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77%;
    position: absolute;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 77%;
    position: relative;
    transition-property: transform;
    display: block;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    position: relative;
}

/* ***********************estilos del juegos de los sliders***************************** */

.game {
    height: 95%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 8px;
}

.game:hover .capaGame-slider{
    opacity: 1;
}


.game:hover{
   cursor: pointer;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color:rgba(0, 0, 0, 0.507);
    height: 270px;
    width: 60px;
    top: -121px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.712);
}


@media screen and (max-width: 599px) {
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }
}